body {
  background-color: dimgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

h1 {
  color: white;
}

canvas {
  outline: black 3px solid;
  border-radius: 30px;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}